

* {
    box-sizing: border-box;
}   

html {
    background-color: rgb(233, 244, 255);
}

body {
    height: 100vh;
    width: 100%;
    font-family:sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 20px 20px 20px;
}

select, input, label{
    font-size: 2rem;
}

label{
    font-weight: bold;
}

.container {
    height: 90vh;
    padding-top: 30px;  
    padding-bottom:30px;  
    display: grid;
    margin: 40px;
}

.component {
    margin: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;;
    width: 100%; 
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


h1 {
    margin: 0;  
    padding: 20px 0;
    font-size: 3em;
}

form {
    display: grid;
    padding: 2em 4em 2em 4em;
    margin: auto;
}
.workout-input {
    width: 20rem;
    height: 5vh;
    text-align: center;
    display: grid;
    border: 1px solid #5e5e5e;
    max-width: 100%
}

input, select, table {
    margin: auto;
}   

#submit-btn {
    margin-top: 30px;
    width: 20rem;
    height: 5vh;
    border: 3px solid rgb(44, 44, 44);
    border-radius: 5%;
    background-color: rgb(76, 218, 37);
    color: white;
}