
:root {
  --light-grey: #f5f6f7;
  --dark-blue: #0a0a23;
  --fcc-blue: #1b1b32;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
}

* {
    box-sizing: border-box;
}   




html {
    background-color: rgb(233, 244, 255);
}

body {
    height: 100vh;
    width: 100%;
    font-family:sans-serif;
    text-align: center;
}

select, input, label{
    font-size: 1rem;
}

label{
    font-weight: bold;
}

.container {
    height: 90vh;
    display: grid;
}

.component {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8em;;
    width: 80%;
}

td, th {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


h1 {
    margin: 0 auto;  
    padding: 1em 1em;
    font-size: 2em;
    width: 100%
}

form {
    display: grid;
    margin: auto;
}

input, select, table {
    margin: auto;
}   

.workout-input {
    width: 8rem;
    height: 4vh;
    text-align: center;
    display: grid;
    border: 1px solid #5e5e5e;
    max-width: 100%;
}

#submit-btn {
    margin-top: 30px;
    width: 8rem;
    height: 5vh;
    border: 3px solid rgb(44, 44, 44);
    border-radius: 5%;
    background-color: rgb(76, 218, 37);
    color: white;
    max-width: 100%;
}