html {
    background-color: rgb(233, 244, 255);
}

body {
    border: 5px solid black;
    width: 600px;
    font-family:sans-serif;
    text-align: center;
    margin: 0 auto;
    background-color: #ffdba8;
    padding: 0 20px 20px 20px;
}

h1 {
    background-color: red;
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
}

.component {
    padding-top: 5%;
}

form {
    display: inline-block;
    padding: 1em;
    margin: auto;
}

table {
    margin: auto;
}

#workout-history
{
    text-align: center;
}
